%li.list-group-item{:id => "file_#{file.id}"}
  %span.badge
    = file.reports.count.to_i
  .media-left
    %a{:href => product_my_post_yield_file_path(@product, @post, file), data: { method: :delete, confirm: '刪除這個文件，會一併刪除此文件所包含的資料，你確定要繼續嗎？' }}
      %span.glyphicon.glyphicon-trash
  .media-body
    %a{:href => product_my_post_yield_file_path(@product, @post, file)}
      =file.file_name